[Desktop Entry]
Comment=Genshin for PlasmaKDE
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Genshin
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=sglkc
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sglkc@gmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Genshin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults
